*.pid
*.log
*.log*
.DS_Store
spec/.DS_Store
tmp/*
system/*
!tmp/.gitignore
!log/.gitignore
config/database.yml
nbproject
.idea/**/*
.yardoc
webrat-*

spec/report.html
.#*
stories
spec/reports
*~
*.sql
*.sql.gz

public/**/app-cache.*
public/system
public/system/csv_data/*
log/*.txt
*.db

.idea/
*.pid

vendor/cache/

.rvmrc
#.rbenv-version


# Ignore bundler config
/.bundle


# Cucumber rerun file
/rerun.txt


# for vim sessions
*.session


report.html

public/sitemap.xml

spec/examples.txt
